
<% @page_title = t(:clinic).pluralize(locale) %>
 
<%= link_to("<< " + "Return", [@current_user, params[:controller]], :class => 'back-link') %> 

<div class="clinics new">
 
  <%= form_for([@current_user, @clinic]) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%#= f.hidden_field(:professionals, :value => @current_user.id) %>
   <!--  <div class="form-buttons">
      <%#= submit_tag("Create a Clinic") %>
    </div> -->

<%= link_to 'Back', clinics_path %>
  <% end %>

</div>
