<% @page_title = " Edit Professional"%>

<tr>
    <% if @is_clinic %>
      <td>
        <br>
          <h4> Edit Professional </h4>
          <h2> Clinic: <%= (@current_user.name)%></h2>       
      </td>
    <% else %>
      <td> 
          <h3> Edit Professional <%= (@professional.name)%></h3>
      </td>
    <%end%>
    </tr>
 

<br><br>

<div class="professionals edit">
  <%= form_for([@current_user, @professional]) do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>
  <% end %>
</div>
