
<% @page_title = " Create Professional"%>

<div class="professionals new">
  <h4><%= t(:create) + " " + t(:professional) %></h4>
  <br><br>

  <%= form_for([@current_user, @professional]) do |f| %>
    <%= render(:partial => "form", :locals => {:f => f}) %>

  <% end %>

</div>
