<li class="nested-fields">
	<table class="table table-inverse">
		<tbody>
			<div>
				<tr>
					<th><%= f.label :professional_name %></th>
					<td><%= @current_user.professional.name %></td>
				</tr>

				<tr><%= link_to_remove_association t(:remove), f, class "form-button btn btn_default" %></tr>
			</div>
		</tbody>
	</table>
</li>



