<h1>Editing Appointment</h1>

<%= render 'form' %>

<%= link_to(t(:show), [@current_user, @appointment], :class => 'action show') %> |
<%= link_to 'Back to Appointments', [@current_user, params[:controller]] %>
